{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="col-lg-10 ml-5" align="center">
  <h1>{% trans "Зарегистрироваться" %}</h1>
  <br>
  <p>
     {% trans 'Уже есть аккаунт' %}? <a href="{{ login_url }}">{% trans 'Войти' %}</a>.
  </p>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{field.label}}
        {{field}}
      </div>
    {% endfor %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Зарегистрироваться" %} &raquo;</button>
  </form>
</div>

{% endblock %}
