{% load i18n catalog_tags %}

<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1>
                    <a href="{% url 'index' %}" class="editContent" style="outline: none; outline-offset: -2px;  color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">
                        MovieDom
                    </a>
                </h1>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">

            <ul class="menu mt-2">
                <li class="{% if page == 'index' %}active{% endif %}">
                    <a href="{% url 'index' %}">{% trans 'Главная' %}</a>
                </li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">
                        Категории<span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#" style="{% if page == 'category' %}color:#ff4c4c;{% endif %}">
                        {% trans 'Категории' %}<span class="fa fa-angle-down" aria-hidden="true"></span>
                    </a>
                    <input type="checkbox" id="drop-2">
                    {% get_categories as categories %}
                    <ul>
                        {% for category in categories %}
                        <li class="{% if category.name == title %}active{% endif %}">
                            <a href="{% url 'filter_movies_list' 'category' category.url %}">
                                {{category}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                {% if user.is_authenticated %}
                    <li class="">
                        <a href="" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Профиль' %}
                        </a>
                    </li>
                    <li class="{% if '/accounts/logout/' in request.path %}active{% endif %}">
                        <a href="{% url 'account_logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Выход' %}
                        </a>
                    </li>
                {% else %}
                    <li class="{% if '/accounts/login/' in request.path %}active{% endif %}">
                        <a href="{% url 'account_login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Вход' %}
                        </a>
                    </li>
                    <li class="{% if '/accounts/signup/' in request.path %}active{% endif %}">
                        <a href="{% url 'account_signup' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Регистрация' %}
                        </a>
                    </li>
                {% endif %}

                <li>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="{% if LANGUAGE_CODE == 'en' %}Go{% else %}Выбрать{% endif %}">
                    </form>
                </li>

            </ul>

        </nav>
        <!-- //nav -->
    </div>
</header>