{% extends 'catalog/base.html' %}
{% load i18n static %}
{% load catalog_filters %}
{% load humanize %}

{% block title %}{{movie}} | {{block.super}}{% endblock %}

{% block content %}

    <div class="left-ads-display col-lg-10 ml-5">
        <div class="row">
            <div class="" width="100px">
                <img src="{{movie.poster.url}}" class="" alt="" width="325" height="450">
            </div>
            <div class="desc1-right col-md-7 pl-lg-4">
                <h2 class="editContent" style="outline: none; cursor: inherit;">
                    {{movie}}
                </h2>
                <ul>
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Год' %}:</span>
                            <a href="/multiple_filter/?year={{movie.year}}" class="related-obj">{{movie.year}}</a>
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Страна' %}:</span>
                            {% for country in movie.country.all %}
                                <a href="{% url 'filter_movies_list' model='country' model_url=country.url %}" class="related-obj">
                                    {{country}}{% if movie.country.all.last != country %}, {% endif %}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                    {% if movie.tagline %}
                        <li style="list-style: none">
                            <span><span style="font-weight:700;">{% trans 'Слоган' %}:</span> «{{movie.tagline}}»</span>
                        </li>
                    {% endif %}
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Режиссер' %}:</span>
                            {% for director in movie.director.all %}
                                <a href="{% url 'filter_movies_list' 'director' director.url %}" class="related-obj">
                                    {{director}}{% if movie.director.all.last != director %}, {% endif %}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Актеры' %}:</span>
                            {% for actor in movie.actors.all %}
                                <a href="{% url 'filter_movies_list' 'actor' actor.url %}" class="related-obj">
                                    {{actor}}{% if movie.actors.all.last != actor %}, {% endif %}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Жанр' %}:</span>
                            {% for genre in movie.genre.all %}
                                <a href="{% url 'filter_movies_list' 'genre' genre.url %}" class="related-obj">
                                    {{genre}}{% if movie.genre.all.last != genre %}, {% endif %}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none">
                        <span>
                            <span style="font-weight:700;">{% trans 'Премьера в мире' %}:</span> {{movie.world_premiere}}
                        </span>
                    </li>
                    {% if budget %}
                        <li style="list-style: none">
                            <span><span style="font-weight:700;">{% trans 'Бюджет' %}:</span> ${{movie.budget|intcomma}}</span>
                        </li>
                    {% endif %}
                    {% if fees %}
                        <li style="list-style: none">
                            <span><span style="font-weight:700;">{% trans 'Сборы в прокате' %}:</span> ${{movie.fees|intcomma}}</span>
                        </li>
                    {% endif %}
                    <li style="list-style: none">
                        <form action="{% url 'add_rating' %}" method="post" name="rating">
                            <span style="font-weight:700;">{% trans 'Рейтинг' %}</span>
                            {% csrf_token %}
                            <input type="hidden" value="{{ movie.id }}" name="movie">
                            <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                            <span class="editContent">5.0</span>
                        </form>
                    </li>
                </ul>

                    <div class="share-desc">
                        <div class="share">
                            <h4 class="editContent"
                                style="outline: none; cursor: inherit;">
                                Share:</h4>
                            <ul class="w3layouts_social_list list-unstyled">
                                <li>
                                    <a href="#" class="w3pvt_facebook editContent"
                                       style="outline: none; cursor: inherit;">
                                        <span class="fa fa-facebook-f" style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_twitter editContent"
                                       style="outline: none; cursor: inherit;">
                                        <span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_dribble editContent" style="outline: none; cursor: inherit;">
                                        <span class="fa fa-dribbble" style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>

        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent">{% trans 'О фильме' %} {{movie}}</h3>
            <div>
                <p class="">{{movie.description|safe}}</p>
            </div>
        </div>
        <hr>
        {% include 'catalog/includes/comments_section.html' %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `;
        }
    </script>

{% endblock %}
